<form action="/add-user" method="post">
    <div>
        <label for="discordUsername">Discord Username:</label>
        <input type="text" id="discordUsername" name="discordUsername" required>
    </div>

    <div>
        <label for="discordUsername">Display Name:</label>
        <input type="text" id="displayName" name="displayName" required>
    </div>
    
    <div>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="runner">Runner</option>
            <option value="commentator">Commentator</option>
        </select>
    </div>
    <button type="submit" class="button">Add User</button>
</form>