<h1>Past Races</h1>
<p>Here is the archive of past races and their results.</p>

<ul>
    <li>Race 1 - Winner: Player A</li>
    <li>Race 2 - Winner: Player B</li>
    <li>Race 3 - Winner: Player C</li>
</ul>