<h1>Upcoming Races</h1>
<p>Here you'll find a list of all upcoming races.</p>

<ul>
    <li>Race 1 - Date: August 25, 2024</li>
    <li>Race 2 - Date: September 3, 2024</li>
    <li>Race 3 - Date: September 10, 2024</li>
</ul>