<h1>Submit a Race</h1>
<p>Fill in the details below to submit your next race.</p>

<form action="/submit-race" method="post">
    <label for="date">Race Date:</label>
    <input type="date" id="date" name="date" required>

    <!-- Can we do this with the user's local time? -->
     <!-- Otherwise, just offer a UTC calc? -->
    <label for="time">Race Time (UTC):</label>
    <input type="time" id="date" name="date" required>

    <label for="date">Race Date:</label>
    <input type="date" id="date" name="date" required>
    
    <button type="submit" class="button">Submit Race</button>
</form>