body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

    background-color: black;
    color: white;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.username {
    font-weight: 600;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.login-button {
    display: inline-block;
    background-color: #7289da;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.logout-button {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.login-image {
    max-width: 50%;
    height: auto;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
